# Computing for Economists: Data Wrangling

In this module, we will have you work through the following datasets to analyze social connectedness in Europe. This module is inspired by [Bailey et al. (2020)](https://pages.stern.nyu.edu/~jstroebe/PDF/BJRKSS_EuroSCI.pdf).

In [2]:
### Import Modules
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools

## Tidying the Data

1. The `data` folder contains data from the following sources. Read each of the data files into Python as Pandas DataFrames.
  - https://ec.europa.eu/eurostat/en/web/products-datasets/-/EDAT_LFSE_04 
    - This data contains the percent of population by educational attainment level, sex, and NUTS 2 regions in the European Union.
  - https://ec.europa.eu/eurostat/web/products-datasets/-/nama_10r_2hhinc
    - The data contains the income of households by NUTS 2 region.  
  - https://ec.europa.eu/eurostat/web/products-datasets/product?code=demo_r_pjanaggr3
    - Population by age, group, sex, and NUTS 2 region.
  - https://ec.europa.eu/eurostat/web/gisco/geodata/reference-data/administrative-units-statistical-units/nuts
    - NUTS region shapefiles (use the geopandas library to read it as a GeoDataFrame).
  - https://media.githubusercontent.com/media/social-connectedness-index/euro_sci/master/_intermediate_data/geo_distance_dat.csv
    - Distance between pairs of NUTS 2 regions constructed by [Bailey et al. (2020)](https://pages.stern.nyu.edu/~jstroebe/PDF/BJRKSS_EuroSCI.pdf).
  - `gadm1_nuts2-gadm1_nuts2-fb-social-connectedness-index-october-2021.tsv` from https://data.humdata.org/dataset/social-connectedness-index
    - This file contains the social connectedness index between NUTS 2 regions and all Global Administrative Areas (GADM). We will only consider NUTS 2 to NUTS 2 connections. Social connectedness is a snapshot of Facebook links as of July 2019.
    - Note: this file is very large so we recommend reading the file directly into the notebook at the following link: https://data.humdata.org/dataset/e9988552-74e4-4ff4-943f-c782ac8bca87/resource/5de92e01-606e-4e4d-ad7c-4a3d493a0cc3/download/gadm1_nuts2-gadm1_nuts2-fb-social-connectedness-index-october-2021.tsv

In [22]:
def load_data_frames(data_folder='data'):
    """Load all TSV, CSV, and SHP files from the specified data folder into global variables."""
    files = os.listdir(data_folder)
    data_frames = {}
    geo_data_frames = {}
    for file in files:
        file_path = os.path.join(data_folder, file)
        if file.endswith('.tsv'):
            df_name = file.replace('.tsv', '')
            data_frames[df_name] = pd.read_csv(file_path, sep='\t')
            print(f"Loaded {file_path} into {df_name}")
        elif file.endswith('.csv'):
            df_name = file.replace('.csv', '')
            data_frames[df_name] = pd.read_csv(file_path)
            print(f"Loaded {file_path} into {df_name}")
        elif file.endswith('.shp'):
            gdf_name = file.replace('.shp', '')
            geo_data_frames[gdf_name] = gpd.read_file(file_path)
            print(f"Loaded {file_path} into {gdf_name}")
    globals().update(data_frames)
    globals().update(geo_data_frames)

# Call the function to load data frames
load_data_frames('data')

Loaded data/gadm1_nuts2-gadm1_nuts2-fb-social-connectedness-index-october-2021.tsv into gadm1_nuts2-gadm1_nuts2-fb-social-connectedness-index-october-2021
Loaded data/estat_nama_10r_2hhinc.tsv into estat_nama_10r_2hhinc
Loaded data/geo_distance_dat.csv into geo_distance_dat
Loaded data/NUTS_RG_20M_2021_3035.shp into NUTS_RG_20M_2021_3035
Loaded data/estat_demo_r_pjanaggr3.tsv into estat_demo_r_pjanaggr3
Loaded data/estat_edat_lfse_04.tsv into estat_edat_lfse_04


2. Clean the education data (`estat_edat_lfse_04.tsv`) and put it into "tidy" format. Check that there is a unique non-missing key for each row. The resulting data should have five columns and 299,088 rows.

In [45]:
estat_edat_lfse_04

,"freq,sex,isced11,age,unit,geo\TIME_PERIOD",2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"A,F,ED0-2,Y20-24,PC,AT",15.1,14.7,15.4,16.6,13.8 b,13.0,13.5 b,14.5,15.2,...,10.4 b,10.6,8.9,9.8,9.7,9.7,10.3,10.7 b,12.0,12.7
1,"A,F,ED0-2,Y20-24,PC,AT1",15.4,14.6,15.2,17.1,16.5 b,14.7,15.5 b,17.7,16.1,...,11.1 b,11.6,9.1,10.0,9.6,11.5,11.6,11.5 b,13.6,14.7
2,"A,F,ED0-2,Y20-24,PC,AT11",: u,: u,: u,: u,: bu,: u,: bu,: u,: u,...,: bu,: u,: u,: u,: u,: u,: u,: bu,: u,: u
3,"A,F,ED0-2,Y20-24,PC,AT12",16.3,16.9,13.4 u,16.3,12.0 bu,13.1 u,15.7 b,14.0,12.9 u,...,10.2 bu,8.3 u,7.8 u,9.1 u,8.5 u,: u,8.0 u,9.2 bu,10.8 u,11.3 u
4,"A,F,ED0-2,Y20-24,PC,AT13",14.4,11.9 u,17.5,18.6,21.1 b,16.5,15.6 b,21.8,19.4,...,12.1 b,14.1,10.1,10.8,10.5,16.8,14.2,13.2 b,15.6,17.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37381,"A,T,ED5-8,Y30-34,PC,UKM7",:,:,:,:,:,:,:,:,:,...,59.0 b,59.9,63.8,61.9,57.9,57.2,:,:,:,:
37382,"A,T,ED5-8,Y30-34,PC,UKM8",:,:,:,:,:,:,:,:,:,...,58.1 b,59.5,63.3,55.2,49.3,53.9,:,:,:,:
37383,"A,T,ED5-8,Y30-34,PC,UKM9",:,:,:,:,:,:,:,:,:,...,48.2 b,49.8,47.0,47.3,45.4,50.4,:,:,:,:
37384,"A,T,ED5-8,Y30-34,PC,UKN",25.4,28.8,31.0,29.8,32.0 b,31.3,34.8,36.4 b,38.7 b,...,41.6 b,36.6,35.5,35.3,38.7,48.1,:,:,:,:
37385,"A,T,ED5-8,Y30-34,PC,UKN0",25.4,28.8,31.0,29.8,32.0 b,31.3,34.8,36.4 b,38.7 b,...,41.6 b,36.6,35.5,35.3,38.7,48.1,:,:,:,:

In [60]:
import re

def process_dataframe(df):
    first_cols = df.iloc[:, 0].str.split(',', expand=True)
    new_col_names = df.columns[0].split(',')
    first_cols.columns = new_col_names
    df = pd.concat([first_cols, df.iloc[:, 1:]], axis=1)
    df.rename(columns={'geo\TIME_PERIOD': 'geo'}, inplace=True)
    id_vars = new_col_names[:-1] + ['geo']
    tidy_df = pd.melt(df, id_vars=id_vars, var_name='year', value_name='value')
    return tidy_df

def extract_number(value):
    match = re.search(r'(\d+(\.\d+)?)', value)
    if match:
        return float(match.group(1))
    else:
        return None

estat_edat_lfse_04_tidy = process_dataframe(estat_edat_lfse_04)
estat_edat_lfse_04_tidy['cleaned_value'] = estat_edat_lfse_04_tidy['value'].astype(str).apply(extract_number)
estat_edat_lfse_04_tidy_filtered = estat_edat_lfse_04_tidy[estat_edat_lfse_04_tidy['sex'] == "T"]
estat_edat_lfse_04_tidy_filtered.head(50)

      freq sex isced11     age unit   geo   year   value  cleaned_value
24924    A   T   ED0-2  Y20-24   PC    AT  2000    14.9            14.9
24925    A   T   ED0-2  Y20-24   PC   AT1  2000    15.3            15.3
24926    A   T   ED0-2  Y20-24   PC  AT11  2000      : u            NaN
24927    A   T   ED0-2  Y20-24   PC  AT12  2000    14.8            14.8
24928    A   T   ED0-2  Y20-24   PC  AT13  2000    15.8            15.8
24929    A   T   ED0-2  Y20-24   PC   AT2  2000    12.5            12.5
24930    A   T   ED0-2  Y20-24   PC  AT21  2000   11.9 u           11.9
24931    A   T   ED0-2  Y20-24   PC  AT22  2000    12.7            12.7
24932    A   T   ED0-2  Y20-24   PC   AT3  2000    16.0            16.0
24933    A   T   ED0-2  Y20-24   PC  AT31  2000    13.9            13.9
24934    A   T   ED0-2  Y20-24   PC  AT32  2000   13.9 u           13.9
24935    A   T   ED0-2  Y20-24   PC  AT33  2000    16.8            16.8
24936    A   T   ED0-2  Y20-24   PC  AT34  2000   24.6 u           24.6
24937    A   T   ED0-2  Y20-24   PC    BA  2000       :             NaN
24938    A   T   ED0-2  Y20-24   PC    BE  2000    18.3            18.3
24939    A   T   ED0-2  Y20-24   PC   BE1  2000    29.9            29.9
24940    A   T   ED0-2  Y20-24   PC  BE10  2000    29.9            29.9
24941    A   T   ED0-2  Y20-24   PC   BE2  2000    14.6            14.6
24942    A   T   ED0-2  Y20-24   PC  BE21  2000    16.5            16.5
24943    A   T   ED0-2  Y20-24   PC  BE22  2000    14.7            14.7
24944    A   T   ED0-2  Y20-24   PC  BE23  2000    14.7            14.7
24945    A   T   ED0-2  Y20-24   PC  BE24  2000    12.2            12.2
24946    A   T   ED0-2  Y20-24   PC  BE25  2000    13.5            13.5
24947    A   T   ED0-2  Y20-24   PC   BE3  2000    21.1            21.1
24948    A   T   ED0-2  Y20-24   PC  BE31  2000   15.0 u           15.0
24949    A   T   ED0-2  Y20-24   PC  BE32  2000    20.9            20.9
24950    A   T   ED0-2  Y20-24   PC  BE33  2000    25.8            25.8
24951    A   T   ED0-2  Y20-24   PC  BE34  2000   18.1 u           18.1
24952    A   T   ED0-2  Y20-24   PC  BE35  2000   17.7 u           17.7
24953    A   T   ED0-2  Y20-24   PC    BG  2000    24.8            24.8
24954    A   T   ED0-2  Y20-24   PC   BG3  2000       :             NaN
24955    A   T   ED0-2  Y20-24   PC  BG31  2000       :             NaN
24956    A   T   ED0-2  Y20-24   PC  BG32  2000       :             NaN
24957    A   T   ED0-2  Y20-24   PC  BG33  2000       :             NaN
24958    A   T   ED0-2  Y20-24   PC  BG34  2000       :             NaN
24959    A   T   ED0-2  Y20-24   PC   BG4  2000       :             NaN
24960    A   T   ED0-2  Y20-24   PC  BG41  2000    13.2            13.2
24961    A   T   ED0-2  Y20-24   PC  BG42  2000       :             NaN
24962    A   T   ED0-2  Y20-24   PC    CH  2000    22.3            22.3
24963    A   T   ED0-2  Y20-24   PC   CH0  2000    22.3            22.3
24964    A   T   ED0-2  Y20-24   PC  CH01  2000       :             NaN
24965    A   T   ED0-2  Y20-24   PC  CH02  2000       :             NaN
24966    A   T   ED0-2  Y20-24   PC  CH03  2000       :             NaN
24967    A   T   ED0-2  Y20-24   PC  CH04  2000       :             NaN
24968    A   T   ED0-2  Y20-24   PC  CH05  2000       :             NaN
24969    A   T   ED0-2  Y20-24   PC  CH06  2000       :             NaN
24970    A   T   ED0-2  Y20-24   PC  CH07  2000       :             NaN
24971    A   T   ED0-2  Y20-24   PC    CY  2000    21.0            21.0
24972    A   T   ED0-2  Y20-24   PC   CY0  2000    21.0            21.0
24973    A   T   ED0-2  Y20-24   PC  CY00  2000    21.0            21.0

3. Do the same for the income data (`estat_nama_10r_2hhinc.tsv`) and the population data (`estat_demo_r_pjanaggr3.tsv`).

In [63]:
estat_nama_10r_2hhinc_tidy = process_dataframe(estat_nama_10r_2hhinc)
estat_nama_10r_2hhinc_tidy['cleaned_value'] = estat_nama_10r_2hhinc_tidy['value'].astype(str).apply(extract_number)
estat_demo_r_pjanaggr3_tidy = process_dataframe(estat_demo_r_pjanaggr3)
estat_demo_r_pjanaggr3_tidy['cleaned_value'] = estat_demo_r_pjanaggr3_tidy['value'].astype(str).apply(extract_number)

   freq unit sex    age    geo   year     value  cleaned_value
0     A   NR   F  TOTAL     AL  1990         :             NaN
1     A   NR   F  TOTAL    AL0  1990         :             NaN
2     A   NR   F  TOTAL   AL01  1990         :             NaN
3     A   NR   F  TOTAL  AL011  1990         :             NaN
4     A   NR   F  TOTAL  AL012  1990         :             NaN
5     A   NR   F  TOTAL  AL013  1990         :             NaN
6     A   NR   F  TOTAL  AL014  1990         :             NaN
7     A   NR   F  TOTAL  AL015  1990         :             NaN
8     A   NR   F  TOTAL   AL02  1990         :             NaN
9     A   NR   F  TOTAL  AL021  1990         :             NaN
10    A   NR   F  TOTAL  AL022  1990         :             NaN
11    A   NR   F  TOTAL   AL03  1990         :             NaN
12    A   NR   F  TOTAL  AL031  1990         :             NaN
13    A   NR   F  TOTAL  AL032  1990         :             NaN
14    A   NR   F  TOTAL  AL033  1990         :             NaN
15    A   NR   F  TOTAL  AL034  1990         :             NaN
16    A   NR   F  TOTAL  AL035  1990         :             NaN
17    A   NR   F  TOTAL    ALX  1990         :             NaN
18    A   NR   F  TOTAL   ALXX  1990         :             NaN
19    A   NR   F  TOTAL  ALXXX  1990         :             NaN
20    A   NR   F  TOTAL     AT  1990   3989903       3989903.0
21    A   NR   F  TOTAL    AT1  1990         :             NaN
22    A   NR   F  TOTAL   AT11  1990         :             NaN
23    A   NR   F  TOTAL  AT111  1990         :             NaN
24    A   NR   F  TOTAL  AT112  1990         :             NaN
25    A   NR   F  TOTAL  AT113  1990         :             NaN
26    A   NR   F  TOTAL   AT12  1990         :             NaN
27    A   NR   F  TOTAL  AT121  1990         :             NaN
28    A   NR   F  TOTAL  AT122  1990         :             NaN
29    A   NR   F  TOTAL  AT123  1990         :             NaN
30    A   NR   F  TOTAL  AT124  1990         :             NaN
31    A   NR   F  TOTAL  AT125  1990         :             NaN
32    A   NR   F  TOTAL  AT126  1990         :             NaN
33    A   NR   F  TOTAL  AT127  1990         :             NaN
34    A   NR   F  TOTAL   AT13  1990         :             NaN
35    A   NR   F  TOTAL  AT130  1990         :             NaN
36    A   NR   F  TOTAL    AT2  1990         :             NaN
37    A   NR   F  TOTAL   AT21  1990         :             NaN
38    A   NR   F  TOTAL  AT211  1990         :             NaN
39    A   NR   F  TOTAL  AT212  1990         :             NaN
40    A   NR   F  TOTAL  AT213  1990         :             NaN
41    A   NR   F  TOTAL   AT22  1990         :             NaN
42    A   NR   F  TOTAL  AT221  1990         :             NaN
43    A   NR   F  TOTAL  AT222  1990         :             NaN
44    A   NR   F  TOTAL  AT223  1990         :             NaN
45    A   NR   F  TOTAL  AT224  1990         :             NaN
46    A   NR   F  TOTAL  AT225  1990         :             NaN
47    A   NR   F  TOTAL  AT226  1990         :             NaN
48    A   NR   F  TOTAL    AT3  1990         :             NaN
49    A   NR   F  TOTAL   AT31  1990         :             NaN

4. Outer join the percent of the population age 25 to 64 in a NUTS 2 region receiving a tertiary education with the income per capita in purchasing power standard (PPS). Then outer join the education and income data with population data for the total population (for sex and age). Only include data at the NUTS 2 level.

  To obtain the income per capita in PPS, the national account should be the "balance of primary incomes/national income, net" and the direction of flow should be the "balance".

5. For each pair of NUTS 2 regions, obtain the absolute difference in the two variables constructed in problem 4 in 2019. Drop the French islands (starts with NUTS 2 region code "FRY").

6. Now we will merge the the 2019 data with the SCI data and the pairwise distance data. Create a dataframe with one row for each pair of NUTS 2 regions (as two separate columns) and the following variables:

*   Log scaled SCI
*   Log distance (add 1 to avoid zeros)
*   Percent tertiary education for User and Friend NUTS 2
*   Income per capita for User and Friend NUTS 2
*   Population for User and Friend NUTS 2
*   Absolute difference in tertiary education between User and Friend NUTS 2
*   Absolute difference in income per capita between User and Friend NUTS 2

  Note that the SCI data contains GADM areas, please only keep the NUTS 2 to NUTS 2 rows. Keeps all rows in the SCI data.

## Descriptive Statistics


1.   Each country is represented by the first two letters of the NUTS 2 index. Present a country-level population-weighted summary table for the percent people with tertiary education and income per capita in 2019. Include the mean, standard deviation, min, and max. Round all numeric outputs to two decimal places.

2. The SCI is scaled from 1 to 1,000,000 and measures the relative probability of a Facebook friendship link ([source](https://data.humdata.org/dataset/social-connectedness-index?)). If a number is two times higher, then a friendship link between two users from those NUTS 2 regions is twice as likely. Calculate  the mean, std, min, and max of log(scaled SCI) by country and merge it with the summary table from the previous part.

3. Compute the correlation between log(scaled SCI), log(distance), user region education and income, as well as differences in education and income between NUTS 2 regions. Is it higher or lower than what you expected?

## Data Visualization

1. We will ask you to plot two maps of social connections of (1) a country and (2) a NUTS 2 region to all other NUTS 2 regions. Remember the French islands should be dropped (these islands are far away from continental Europe and will therefore make the maps harder to visualize).

  * For the chosen country, aggregate the SCI to produce country to NUTS 2 region measures. Scaled SCI can be aggregated correctly using population shares following [SCI documentation](https://data.humdata.org/dataset/social-connectedness-index). For countries $i, j$ with regions $\{r_i\}, \{r_j\}$, aggregate SCI is given by:

  $$SCI_{i,j} = \sum_{\{r_i\}}\sum_{\{r_j\}} PopShare_{r_i} \times PopShare_{r_j} \times SCI_{r_i, r_j}$$

  where $PopShare_{r_i}$ is the share of country $i$'s population in region $r_i$.

  * Merge the aggregated SCI data with the GeoDataFrame (keep only NUTS 2 regions) for the applicable geographies.
  * Construct the bins for the map legend by first selecting a baseline SCI cutoff (e.g. 20th percentile of the **total data** that you are working with). Then calculate the subsequent cutoffs as $2\times$, $3\times$, $5\times$, $10\times$, $25\times$, $100\times, 1000\times$ that of the baseline cutoff. Feel free to use another legend system as long as there is justification.
  * Map directly using the GeoPandas library, or feel free to explore interactive maps in Plotly.

  Recall the principles of software engineering (consider writing a function for code that may be reused).

2. Show the relationship between log SCI and log distance in a figure. Highlight the points of at least one user geography (country or NUTS 2). Fit a curve to the data and plot it along with the scatterplot.

3. Visualize the distributions of log SCI by income bin (e.g. low, medium, high) of the user region. Comment.

Bonus: Explore the data and feel free to visualize whatever you would like. Make sure you understand the variables and compute summary statistics.

# Submission ⭐

Congratulations you finished Module 2! We will handle all exercise submissions on GitHub Classroom. Please push your changes to your team repository folder on GitHub Classroom.